* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004ba8;
  }

 .form span {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
  }
  
  .container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
  }
  
  .container .form {
    padding: 30px;
    border-radius: 10px;
    width: 50%;
  }
  
  .container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
  }

  .container .form .login-text {
    font-size: 20px;
  }
  
  .form .input-field {
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    
  }
  
  .input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #CCCCCC;
    border-top: 2px solid transparent;
    font-size: 16px;
    transition: all 0.2s ease;
  }
  
  .input-field input:is(:focus, :valid) {
    border-bottom-color: #004ba8;
  }
  
  .input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 23px;
    transition: all 0.2s ease;
  }
  
  .input-field input:is(:focus, :valid) ~ i {
    color: #004ba8;
  }
  
  .input-field i.icon {
    left: 0;
  }
  
  .input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
  }
  
  .form .checkbox-text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .checkbox-text .chackbox-content {
    display: flex;
    align-items: center;
  }
  
  .checkbox-content input {
    accent-color: #004ba8;
    margin: 0 8px 0 4px;
  }
  
  .form .text {
    color: #333333;
    font-size: 14px;
  }
  
  .form a.text {
    color: #004ba8;
    text-decoration: none;
  }
  
  .form a:hover {
    text-decoration: underline;
  }
  
  .form .button {
    margin-top: 35px;
  }
  
  .form .button input {
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #004ba8;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button input:hover {
    background-color: #4070f1;
  }